@use "../global" as *;

// インナー幅用の基本CSS
.inner {
  max-width: $inner-sp;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;

  @include mq("md") {
    max-width: $inner + $padding-pc * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}